#todotable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#todotable td, #todotable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#todotable tr:nth-child(even){background-color: #f2f2f2;}

#todotable tr:hover {background-color: #ddd;}

#todotable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4c6faf;
  color: white;
}

.panel-heading {

    color: #7c795d; font-family: 'Trocchi', serif; font-size: 30px; font-weight: normal; line-height: 48px; margin: 0;   
}
.control-label {

    color: #7c795d; font-family: 'Trocchi', serif; font-size: 30px; font-weight: normal; line-height: 48px; margin: 0;   
}

#delete_task {
    background-color: #ce4444; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #add_task {
    background-color: #75cc42; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin:5px;
  }